body {background-color: #d0e8e5; font-family: Chilanka}
h1 {color: #620e21; font-weight: bold; text-align: center}
h2 {color: #534c5a; text-align: center}
p {text-align: justify; color: #547d91}
li { list-style-type: circle}

img {padding-left: 30px; width: 150px; height: 200px}